<html>
<head>
    <meta charset="utf-8">

    <link rel="manifest" href="/static/manifest.json">

    <meta name="application-name" content="Notes">
    <link rel="icon" sizes="16x16 32x32 48x48" href="/static/img/icon_lo.ico">
    <link rel="icon" sizes="256x256" href="/static/img/icon_hi.png">

    <!-- Startup configuration -->
    <title>Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>
    <div id="content"></div>

    <!-- Libs -->
    <script src="/static/libs/react-0.12.2.js"></script>
    <script src="/static/libs/JSXTransformer-0.12.2.js"></script>
    <script src="/static/libs/showdown.min.js"></script>

    <!-- Scripts -->
    <script type="text/jsx" src="/static/scripts/notes.js"></script>
</body>
</html>